
@use 'variables';
.navbar {
    position: fixed;
    top: 0;
    width: 100%;

    z-index: 10;
    height: variables.$navbar-height;

    background-color: rgba(#000, .6);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid rgba(#CBD5E1, 0.102);

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        max-width: variables.$container-width;
        margin: 0 auto;

        padding: 0 1rem;

        height: inherit;
    }

    &__spacer {
        height: variables.$navbar-height;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 1rem;

        & > div {
            cursor: pointer;
        }
    }
}